# Python cache
__pycache__/
*.py[cod]
*$py.class
*.tmp

# Environment & Virtualenvs
venv/
.venv/
env/
ENV/
.env

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# IDE / Editors
.vscode/
.idea/
*.swp
*.swo

# OS specific files
Thumbs.db
Desktop.ini
.DS_Store
